<h1>Create a new Pet</h1>

params
=> {"song"=>{"title"=>"new", "length"=>"bug", "play_count"=>"3"}}

#{params[:song],[:title],[:length],
  :play_count
}

   

 <h2>Title: <%= @title %></h2>
  <h2>Length: <%= @lenth %></h2>
