<h1>Create a new Pet</h1>

params
=> {"song"=>{"title"=>"new", "length"=>"bug", "play_count"=>"3"}}

#{params[:song],[:title],[:length],
  :play_count
}

   
post '/food' do
  "My name is #{params[:name]}, and I love #{params[:favorite_food]}"
end
 <h2>Title: <%= @title %></h2>
  <h2>Title: <%= @title %></h2>
#{params[:name]}